body {
    background-color: rgb(188, 210, 250);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    letter-spacing: 2px;
}
table {
    border-collapse:separate;
}
td, tr {
    border: solid 1px black;
    font-size: 18px;
    text-align: center;
}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
a {
    margin-top: 20px ;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: rgb(116, 161, 247);
    transition: all .3s;
}

a:hover {
    background-color:#e4e3e3;
    color: rgb(90, 146, 252);
}